footer {
  background: #333;
  color: #ffffff;
  font-size: 11px;
  padding: 20px;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}
.gap-right {
  margin-left: 130px;
}
.gap-left {
  margin-left: 20px;
}
.gap-bottom {
  margin-bottom: 20px;
}
